Repository annonymousauthority/P2PCoder, pull requests merged in 2023-06, with the labels that each got.

#115 Integrate signup with GitHub
  src/app/page.js
  src/components/signup_comp.js
  src/components/userLogin_comp.js
  src/composables/auth_github_signin_popup.js
  src/composables/verifySignedIn.js
Labels: function

#146 Taylor - Creating Github/Google Error component
  public/assets/githubGoogleError/closecircle.svg
  public/assets/githubGoogleError/error.svg
  src/components/githubGoogleError_comp.js
Labels: Components

#163 Chidera - Session Manager Component
  development/src/components/sessionManagerComp.js
Labels: Components

#170 move babel file to development
  development/.babelrc
Labels: bug
